* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .root-container {
    margin-left: 10%;
    margin-right: 10%;
} */

/* Classi da cancellare dopo */

.h100 {
    height: 100px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.h700 {
    height: 700px;
}

.h1800 {
    height: 1800px;
}

.h800 {
    height: 800px;
}

.h450 {
    height: 450px;
}

.h250 {
    height: 250px;
}

.h400 {
    height: 400px;
}

.h300 {
    height: 300px;
}

.h350 {
    height: 350px;
}

.h500 {
    height: 500px;
}

.h900 {
    height: 900px;
}

.w33 {
    width: 33.3%;
}

.w60 {
    width: 60%;
}

.w40 {
    width: 40%;
}

.w25 {
    width: 25%;
}

.h175 {
    height: 175px;
}

.h200 {
    height: 200px;
}

/* Clearfix */

.row::after {
   content: '';
   clear: both;
   display: table;
}


/* Riga 1: barra navigazione iniziale */

.top-bar {
    background-color: #e6eefc;
}

.top-bar-left {
    float: left;
    border: 1px solid black;
}

.top-bar-right {
    float: left;
    border: 1px solid black;
}


/* Riga 2: logo e menù navigazione */

.top-navbar {
    background-color: #fcfcfc;
}

.top-navbar-left {
    float: left;
    border: 1px solid black;
}

.top-navbar-right {
    float: left;
    border: 1px solid black;
}


/* Riga 3: get Hubspot free + immagine */

.main1 {
    background-color: #fff6e8;
}

.main1-left {
    float: left;
    border: 1px solid black;
}

.main1-right {
    float: left;
    border: 1px solid black;
}


/* Riga 4: blocco d'intermezzo */

.break {
    background-color: #AFEEEE;
    border: 1px solid black;
}


/* Riga 5: panoramica servizi */

.services{
    background-color: #e6eefc;
}

.services-top {
    border: 1px solid black;
}

.services-center {
    border: 1px solid black;
}

.services-bottom {
    border: 1px solid black;
}

.services .left {
    float: left;
    border: 1px solid black;
}

.services .center {
    float: left;
    border: 1px solid black;
}

.services .right {
    float: left;
    border: 1px solid black;
}


/* Riga 6: tabella community */

.table-comm {
    background-color: #20B2AA;
}

.table-comm-top {
    border: 1px solid black;
}

.table-comm-bottom {
    border: 1px solid black;
}


/* Riga 7: get Hubspot free + immagine 2 */

.main2 {
    background-color: #fcfcfc;
}

.main2-top {
    border: 1px solid black;
}

.main2-bottom {
    border: 1px solid black;
}

.main2 .left {
    float: left;
    border: 1px solid black;
}

.main2 .right {
    float: left;
    border: 1px solid black;
}


/* Riga 8: links di fine pagina */

.final-links {
    background-color: #191970;
}

.final-links-top {
    border: 1px solid black;
}

.final-links-bottom {
    border: 1px solid black;
}

.final-links .left {
    float: left;
    border: 1px solid black;
}

.final-links .center1 {
    float: left;
    border: 1px solid black;
}

.final-links .center2 {
    float: left;
    border: 1px solid black;
}

.final-links .right {
    float: left;
    border: 1px solid black;
}
